<h1>Cars for <%= @collection.name %></h1>

<table>
  <tr>
    <th>Add</th>
    <th>Car</th>
  </tr>

  <% @collection.car.list_of_cars.each do |c| %>
  <tr>
    <td><%=check_box_tag c.id, 1, @collection.has_car?(c),
  :onclick => remote_function(
:url => save_collection_path(@collection),
:with => "'car=#{c.id}&amp;show=' + this.checked", :method => :post) %>
    </td>
    <td><%=h c.name %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Back',collection_path(@collection)  %>